{% extends "layout.html" %}
{% block content %}
<br>
<br>

<h2>1) List the users who post at least two blogs, one has a tag of “X”, and another has a
    tag of “Y”</h2>
<div style="display: flex; justify-content: space-around;">
    <form method="post" class="form-inline my-2 my-lg-0">
        <input name="query" type="hidden" value="query1">
        <input name="q1input1" id="q1input1" class="form-control mr-sm-2" type="search" placeholder="Search for Tag X"
            aria-label="Search">
        <input name="q1input2" id="q1input2" class="form-control mr-sm-2" type="search" placeholder="Search for Tag Y"
            aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" onclick="query1(event);" type="button">Search</button>
    </form>
</div>

<div>
    <table class="query1table table table-striped" style="visibility: hidden;">
        <tr class="bg-info">
            <th>Author</th>
            <th>Tags</th>
        </tr>

        <tbody id="myTable">

        </tbody>
    </table>
</div>


<h2>2) All the blogs of user such that all the comments are positive for these blogs.</h2>
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" id="q2input1" name="q2input1" type="search" placeholder="Search for User X"
        aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="query2(event);">Search</button>
</form>
<div>
    <table class="query2table table table-striped" style="visibility: hidden;">
        <tr class="bg-info">
            <th>Title</th>
        </tr>

        <tbody id="myTable2">

        </tbody>
    </table>
</div>


<a href="" onclick="query3(event)">
    <h2>3) the users who posted the most number of blogs on 27/04/2022; if there is a tie, list all the users who have a
        tie.
    </h2>
</a>
<div>
    <table class="query3table table table-striped" style="visibility: hidden;">
        <tr class="bg-info">
            <th>Username</th>
        </tr>

        <tbody id="myTable3">

        </tbody>
    </table>
</div>


<h2>4) List the users who are followed by both X and Y. Usernames X and Y are inputs
    from the user </h2>

<form class="form-inline my-2 my-lg-0">
    <input name="q4input1" id="q4input1" class="form-control mr-sm-2" type="search" placeholder="Search for User X"
        aria-label="Search">

    <input name="q4input2" id="q4input2" class="form-control mr-sm-2" type="search" placeholder="Search for User Y"
        aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" onclick="query4(event);" type="button">Search</button>
</form>
<div>
    <table class="query1table table table-striped" style="visibility: hidden;">
        <tr class="bg-info">
            <th>Username</th>
        </tr>

        <tbody id="myTable4">

        </tbody>
    </table>
</div>


<a href="" onclick="query5(event)">
    <h2>5) A user pair (A, B) such that they have at least one common hobby. </h2>
</a>
<div>
    <table class="query1table table table-striped" style="visibility: hidden;">
        <tr class="bg-info">
            <th>Username Pair</th>
        </tr>

        <tbody id="myTable5">

        </tbody>
    </table>
</div>


<a href="" onclick="query6(event)">
    <h2>6) All the users who never posted a blog</h2>
</a>
<div>
    <table class="query1table table table-striped" style="visibility: hidden;">
        <tr class="bg-info">
            <th>Username</th>
        </tr>

        <tbody id="myTable6">

        </tbody>
    </table>
</div>

<a href="" onclick="query7(event)">
    <h2>7) All the users who never posted a comment</h2>
</a>
<div>
    <table class="query1table table table-striped" style="visibility: hidden;">
        <tr class="bg-info">
            <th>Username</th>
        </tr>

        <tbody id="myTable7">

        </tbody>
    </table>
</div>


<a href="" onclick="query8(event)">
    <h2>8) All the users who posted some comments, but each of them is negative.
    </h2>
</a>
<div>
    <table class="query1table table table-striped" style="visibility: hidden;">
        <tr class="bg-info">
            <th>Username</th>
        </tr>

        <tbody id="myTable8">

        </tbody>
    </table>
</div>

<a href="" onclick="query9(event)">
    <h2>9) Those users such that all the blogs they posted so far never received any
        negative comments</h2>
</a>
<div>
    <table class="query1table table table-striped" style="visibility: hidden;">
        <tr class="bg-info">
            <th>Username</th>
        </tr>

        <tbody id="myTable9">

        </tbody>
    </table>
</div>

<script>
    function query1(e) {
        e.preventDefault();
        let val1 = document.getElementById("q1input1").value;
        let val2 = document.getElementById("q1input2").value;

        params = { "query": "query1", "q1input1": val1, "q1input2": val2 }

        result = query(e, params = params)
        result.then(result => {
            result = JSON.parse(result)
            if (result["query"]) {
                queryResult = JSON.stringify(result[result["query"]]);
                var table = document.createElement("table"), row, cellA, cellB;
                const data = JSON.parse(queryResult);
                console.log(data);
                $('#myTable').empty();
                if (data.length < 1) {
                    $("#myTable").css("visibility", "hidden");
                    $(".query1table").css("visibility", "hidden");
                }
                else {
                    $(".query1table").css("visibility", "visible");
                    $("#myTable").css("visibility", "visible");
                }
                for (var i = 0; i < data.length; i++) {

                    var row = `<tr>
                                    <td>${data[i].author}</td>
                                    <td>${data[i].tags}</td>
                            </tr>`
                    document.getElementById("myTable").innerHTML += row
                }
            }
            if (result["error"]) {
                alert(result["error"]);
            }
        }).catch(error => {
            document.getElementById("afterMessage").innerHTML = "Error" + error;
        });

    }
    function query2(e) {
        e.preventDefault();
        val1 = document.getElementById("q2input1").value;

        params = { "query": "query2", "q2input1": val1 }
        result = query(e, params = params)

        console.log("hello", result)
        result.then(result => {
            result = JSON.parse(result)
            // console.log(result);
            if (result["query"]) {
                queryResult = JSON.stringify(result[result["query"]]);
                var table = document.createElement("table"), row, cellA, cellB;
                const data = JSON.parse(queryResult);
                console.log("hello", data)
                console.log(data);
                $('#myTable2').empty();
                if (data.length < 1) {
                    $("#myTable2").css("visibility", "hidden");
                    $(".query2table").css("visibility", "hidden");
                }
                else {
                    $(".query2table").css("visibility", "visible");
                    $("#myTable2").css("visibility", "visible");
                }
                for (var i = 0; i < data.length; i++) {
                    var row = `<tr>
                                    <td>${data[i].title}</td>     
                                 </tr>`
                    document.getElementById("myTable2").innerHTML += row
                }
            }

            if (result["error"]) {
                alert(result["error"]);
            }
        }).catch(error => {
            document.getElementById("afterMessage").innerHTML = "Error" + error;
        });
    }

    function query3(e) {
        e.preventDefault();
        params = { "query": "query3" }
        result = query(e, params = params)
        result.then(result => {
            result = JSON.parse(result)
            if (result["query"]) {
                queryResult = JSON.stringify(result[result["query"]])
                var table = document.createElement("table"), row, cellA, cellB;
                const data = JSON.parse(queryResult);
                console.log(data);
                $('#myTable3').empty();
                if (data.length < 1) {
                    $("#myTable3").css("visibility", "hidden");
                    $(".query3table").css("visibility", "hidden");
                }
                else {
                    $(".query3table").css("visibility", "visible");
                    $("#myTable3").css("visibility", "visible");
                }
                for (var i = 0; i < data.length; i++) {

                    var row = `<tr>
                                    <td>${data[i].username}</td>
                            </tr>`
                    document.getElementById("myTable3").innerHTML += row
                }
            }
            if (result["error"]) {
                alert(result["error"]);
            }
        }).catch(error => {
            document.getElementById("afterMessage").innerHTML = "Error" + error;
        });
    }
    function query4(e) {
        e.preventDefault();
        let val1 = document.getElementById("q4input1").value;
        let val2 = document.getElementById("q4input2").value;

        params = { "query": "query4", "q4input1": val1, "q4input2": val2 }
        console.log(params);

        result = query(e, params = params)
        result.then(result => {
            result = JSON.parse(result)
            console.log(result)
            if (result["query"]) {
                queryResult = JSON.stringify(result[result["query"]])
                var table = document.createElement("table"), row, cellA, cellB;
                const data = JSON.parse(queryResult);
                $('#myTable4').empty();
                if (data.length < 1) {
                    $("#myTable4").css("visibility", "hidden");
                    $(".query1table").css("visibility", "hidden");
                }
                else {
                    $(".query1table").css("visibility", "visible");
                    $("#myTable4").css("visibility", "visible");
                }
                for (var i = 0; i < data.length; i++) {

                    var row = `<tr>
                                    <td>${data[i].toProfile}</td>
                                </tr>`
                    document.getElementById("myTable4").innerHTML += row
                }

            }
            if (result["error"]) {
                alert(result["error"]);
            }
        }).catch(error => {
            document.getElementById("afterMessage").innerHTML = "Error" + error;
        });

    }
    function query5(e) {
        e.preventDefault();


        params = { "query": "query5" }

        result = query(e, params = params)
        result.then(result => {
            result = JSON.parse(result)
            if (result["query"]) {
                queryResult = JSON.stringify(result[result["query"]])
                var table = document.createElement("table"), row, cellA, cellB;
                const data = JSON.parse(queryResult);
                console.log(data);
                $('#myTable5').empty();
                if (data.length < 1) {
                    $("#myTable5").css("visibility", "hidden");
                    $(".query1table").css("visibility", "hidden");
                }
                else {
                    $(".query1table").css("visibility", "visible");
                    $("#myTable5").css("visibility", "visible");
                }
                for (var i = 0; i < data.length; i++) {

                    var row = `<tr>
                                    <td>${data[i].username}</td>
                            </tr>`
                    document.getElementById("myTable5").innerHTML += row
                }

            }
            if (result["error"]) {
                alert(result["error"]);
            }
        }).catch(error => {
            document.getElementById("afterMessage").innerHTML = "Error" + error;
        });

    }
    function query6(e) {
        e.preventDefault();
        params = { "query": "query6" }

        result = query(e, params = params)
        result.then(result => {
            result = JSON.parse(result)
            if (result["query"]) {
                queryResult = JSON.stringify(result[result["query"]]);
                var table = document.createElement("table"), row, cellA, cellB;
                const data = JSON.parse(queryResult);
                console.log(data);

                $('#myTable6').empty();
                if (data.length < 1) {
                    $("#myTable6").css("visibility", "hidden");
                    $(".query1table").css("visibility", "hidden");
                }
                else {
                    $(".query1table").css("visibility", "visible");
                    $("#myTable6").css("visibility", "visible");
                }
                for (var i = 0; i < data.length; i++) {

                    var row = `<tr>
                                    <td>${data[i].username}</td>
                            </tr>`
                    document.getElementById("myTable6").innerHTML += row
                }
            }
            if (result["error"]) {
                alert(result["error"]);
            }
        }).catch(error => {
            document.getElementById("afterMessage").innerHTML = "Error" + error;
        });
    }
    function query7(e) {
        e.preventDefault();
        params = { "query": "query7" }

        result = query(e, params = params)
        result.then(result => {
            result = JSON.parse(result)
            console.log(result)
            if (result["query"]) {
                queryResult = JSON.stringify(result[result["query"]])
                var table = document.createElement("table"), row, cellA, cellB;
                const data = JSON.parse(queryResult);
                console.log(data);

                $('#myTable7').empty();
                if (data.length < 1) {
                    $("#myTable7").css("visibility", "hidden");
                    $(".query1table").css("visibility", "hidden");
                }
                else {
                    $(".query1table").css("visibility", "visible");
                    $("#myTable7").css("visibility", "visible");
                }
                for (var i = 0; i < data.length; i++) {

                    var row = `<tr>
                                    <td>${data[i].username}</td>
                            </tr>`
                    document.getElementById("myTable7").innerHTML += row
                }
            }
            if (result["error"]) {
                alert(result["error"]);
            }
        }).catch(error => {
            document.getElementById("afterMessage").innerHTML = "Error" + error;
        });
    }

    function query8(e) {
        e.preventDefault();
        params = { "query": "query8" }

        result = query(e, params = params)
        result.then(result => {
            result = JSON.parse(result)
            if (result["query"]) {
                queryResult = JSON.stringify(result[result["query"]])
                var table = document.createElement("table"), row, cellA, cellB;
                const data = JSON.parse(queryResult);
                console.log(data);
                $('#myTable8').empty();
                if (data.length < 1) {
                    $("#myTable8").css("visibility", "hidden");
                    $(".query1table").css("visibility", "hidden");
                }
                else {
                    $(".query1table").css("visibility", "visible");
                    $("#myTable8").css("visibility", "visible");
                }
                for (var i = 0; i < data.length; i++) {

                    var row = `<tr>
                                    <td>${data[i].username}</td>
                            </tr>`
                    document.getElementById("myTable8").innerHTML += row
                }

            }
            if (result["error"]) {
                alert(result["error"]);
            }
        }).catch(error => {
            document.getElementById("afterMessage").innerHTML = "Error" + error;
        });
    }
    function query9(e) {
        e.preventDefault();
        params = { "query": "query9" }

        result = query(e, params = params)
        result.then(result => {
            result = JSON.parse(result)
            if (result["query"]) {
                queryResult = JSON.stringify(result[result["query"]])
                var table = document.createElement("table"), row, cellA, cellB;
                const data = JSON.parse(queryResult);
                console.log(data);
                $('#myTable9').empty();
                if (data.length < 1) {
                    $("#myTable9").css("visibility", "hidden");
                    $(".query1table").css("visibility", "hidden");
                }
                else {
                    $(".query1table").css("visibility", "visible");
                    $("#myTable9").css("visibility", "visible");
                }
                for (var i = 0; i < data.length; i++) {

                    var row = `<tr>
                                    <td>${data[i].username}</td>
                            </tr>`
                    document.getElementById("myTable9").innerHTML += row
                }
            }

            if (result["error"]) {
                alert(result["error"]);
            }
        }).catch(error => {
            document.getElementById("afterMessage").innerHTML = "Error" + error;
        });
    }
    function query(e, params) {
        var params = params
        const url = "/allfiles";
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: JSON.stringify(params),
            redirect: 'follow'
        };
        return fetch(url, requestOptions)
            .then(response => response.text())
    }
</script>



{% endblock %}